// Variables

$brand-primary: #1DE9B6;
$brand-secondary: #4FC3F7;
$brand-danger: #e74c3c;
$brand-warning: #fcd602;
$gray-darkest: #222;
$gray: #777;
$gray-lighter: #F5F5F5;
$placeholder-text: #e0e0e0;

// Opacity
$sixty: .6;
