// Variables

$brand-primary: #1DE9B6;
$brand-secondary: #00BFA5;
$brand-danger: #e74c3c;
$gray-darkest: #222;
$gray: #777;
$gray-lighter: #E0E0E0;
$placeholder-text: #e0e0e0;

// Opacity
$sixty: .6;
